body {
    margin: 0px auto;
    padding: 0px auto;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    max-width: 99vw;
    width: 99vw;
}


.header {
    position: fixed;
    top: 0px;
    right: 0px;
    width: 100%;
    display: flex;
    margin: 2px 10px;
    padding: 5px 10px;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    height: fit-content;
    align-self: center;
    max-height: 50px;
    margin: 5px auto;
    background-color: #fff;
    opacity: 0.95;
}

.header-button {
    padding: 10px 20px;
    margin: 2px 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    background-color: #ffd5fe;
}

.header-button:hover {
    background-color: #aaaeda;
}


.notification-modal {
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border: none;
    background-color: rgba(0, 0, 0, 0.15);
}

.notification-modal-content {
    background: rgba(255, 255, 255, 0.98);
    margin: 25px auto;
    padding: 25px 50px;
    width: 80vw;
    max-width: 1500px;
    text-align: center;
    border-radius: 5px;
    min-height: 100px;
}

.notification-close-button {
    position: relative;
    top: 0px;
    right: 0px;
    float: right;
    color: #000000;
    text-align: center;
    font-size: 50px;
}

.notification-close-button:hover,
.notification-close-button:focus {
    color: rgb(92, 92, 92);
    text-decoration: none;
    cursor: pointer;
}

.notification-modal-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    padding: 30px;
    margin: 30px auto;
    max-width: 1500px;
    width: 90vw;
    text-align: center;
    align-items: center; 
    justify-content: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.minutes-of-meeting {
    margin: 5px auto;
    padding: 0px;
}

.minutes-content {
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    background-color: #f9f9f9;
    padding: 15px 30px;
    margin: 10px auto;
}
