<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <title>LLM - Minutes of Meeting</title>

  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
    rel="stylesheet" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css" rel="stylesheet" />

  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
  <h1>Upload your MP4 Video or Audio File</h1>
  <form action="/upload" method="post" enctype="multipart/form-data">
    <input type="file" name="file" accept=".mp4,audio/*">
    <button type="submit">Upload</button>
  </form>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script>
  $(document).ready(function() {
      var intervalId = setInterval(function() {
          $.getJSON('/check_task/' + '{{ task_id }}', function(data) {
              if (data.status == 'SUCCESS') {
                alert('Processing complete! You are being redirected to the results page.');
                window.location.href = "/results/" + '{{ task_id }}';
                clearInterval(intervalId);
            }
          });
      }, 10000);
  });
  </script>

</body>

</html>